extends ../layout

block meta
  meta(
    property='og:title'
    content='Wizards@Work'
  )

  meta(
    name='description'
    property='og:description'
    content='We are Wizards@Work.'
  )

block title
  title Wizards@Work

block content
  section#about
    h2 about
    div
      p
        | we are a tribe of makers, programmers, engineers, philosophers, activists, hackers, artists, clowns, and scientists.

      p we are wizards at work.
