extends ../layout

-
  var title = "Wizards@Work";
  var description = "Wizards@Work - Magically shifting paradigms";

  var menuItems = [
    {
      text: "about",
      title: "What we are", 
      href: "#♥",
    },
    {
      href: "#wizards",
      text: "wizards",
      title: "Who we are",
    },
    {
      href: "#at",
      text: "at",
      title: "Where we are",
    },
    {
      href: "#work",
      text: "work",
      title: "What we do",
    },
    {
      href: "#contact",
      text: "contact",
      title: "How we communicate",
    },
  ];

  var wizards = [
    {
      nick: "wizard23",
      slug: "wizard23",
      firstname: "philipp",
      lastname:: "tiefenbacher",
      url: "http://wizards23.net",
      job: "ceo",
    },
    {
      nick: "j",
      slug: "j",
      firstname: "jay",
      lastname:: "vaughan",
      job: "cto",
    },
    {
      nick: "jascha",
      slug: "jascha",
      firstname: "jascha",
      lastname:: "ehrenreich",
      url: "https://jaeh.at",
      job: "full stack programmer",
    },
    {
      nick: "tompeak",
      slug: "tompeak",
      firstname: "tom",
      lastname:: "peak",
      url: "http://tompeak.com",
      job: "client side programmer, graphics",
    },
    {
      nick: "danny",
      slug: "danny",
      firstname: "daniela",
      lastname:: "weiss",
      job: "graphics",
    },
  ];
  
  var at = [
    {
      name: "metalab",
      url: "https://metalab.at",
      img: "metalab.png",
    },
    {
      name: "hackerspaceshop",
      url: "http://hackerspaceshop.com",
      img: "hackerspaceshop.png",
    },
    {
      name: "raumzeitlabor",
      url: "http://raumzeitlabor.de",
      img: "raumzeitlabor.png",
    },
  ];

  var work = [
    {
      name: "magicshifter",
      img: "magicshifter.jpg",
      url: "http://magicshifter.net",
      description: [
        "lorem ipsum dolor sit amet",
        "lorem ipsum dolor sit amet",
        "lorem ipsum dolor sit amet",
        "lorem ipsum dolor sit amet",
      ],
    },
    {
      name: "evocell",
      img: "evocell.jpg",
      url: "https://wizard23.github.io/evocell/cellspace.html",
      description: [
        "lorem ipsum dolor sit amet",
        "lorem ipsum dolor sit amet",
        "lorem ipsum dolor sit amet",
        "lorem ipsum dolor sit amet",
      ],
    },
    {
      name: "printables",
      img: "printables.jpg",
      url: "http://www.thingiverse.com/wizard23/designs",
      description: [
        "lorem ipsum dolor sit amet",
        "lorem ipsum dolor sit amet",
        "lorem ipsum dolor sit amet",
        "lorem ipsum dolor sit amet",
      ]
    }
  ];
  
  var contact = {
    title: "contact",
    email: "team@magicshifter.net",
  }

block meta
  meta(
    property='og:title'
    content='Wizards@Work'
  )

  meta(
    name='description'
    property='og:description'
    content='We are Wizards@Work.'
  )

block title
  title Wizards@Work

block content
  section#about
    h2 about
    div
      p
        | we are a tribe of makers, programmers, engineers, philosophers, activists, hackers, artists, clowns, and scientists.

      p we are wizards at work.

  if wizards
    section#wizards
      h2 wizards

      ul
        for member in wizards
          li(class=member.slug)
            a(
              href=member.url
              target=member.slug
            )
              img(
                src='/img/wizards/' + member.slug + '.jpg'
                alt= member.slug
              )

              p= member.firstname + ' ' + member.lastname
              p= member.job

  if at
    section#at
      h2 at

      ul
        for location in at
          li
            a(
              href= location.url
              target= location.name
            )
              if location.img
                img(
                  src= '/img/at/' + location.img
                  alt= location.name
                )

  if work
    section#work
      h2 work

      ul
        for project in work
          li
            a(
              href= project.url
              target= project.name
            )
              if project.img
                img(src= '/img/work/' + project.img)

            div
              if project.name
                h3= project.name

              if project.description
                for paragraph in project.description
                  p= paragraph

  if contact
    section#contact
      h2 contact

      p
        | If you have questions or suggestions just contact us via
        |  
        a(href=contact.email) email

      p
        | Found a bug on this homepage? File an issue on
        |  
        a(
          href='https://github.com/wizardsatwork/wizardsat.work/issues'
          target='github wizardsat.work'
        ) github.
