extends ../layout

block meta
  meta(
    property='og:title'
    content='Wizards@Work'
  )

  meta(
    name='description'
    property='og:description'
    content='We are Wizards@Work.'
  )

block title
  title Wizards@Work

block content
  section#about
    h2 about

    div
      p
        | we are a tribe of makers, programmers, engineers, philosophers, activists, hackers, artists, clowns, and scientists.

      p we are wizards at work.

  if wizards
    section#wizards
      h2 wizards

      ul
        for member in wizards
          li(class=member.slug)
            a(
              href=member.url
              target=member.slug
            )
              img(
                src='/img/wizards/' + member.slug + '.jpg'
                alt= member.slug
              )

              p= member.firstname + ' ' + member.lastname
              p= member.job

  if at
    section#at
      h2 at

      ul
        for location in at
          li
            a(
              href= location.url
              target= location.name
            )
              if location.img
                img(
                  src= '/img/at/' + location.img
                  alt= location.name
                )

  if work
    section#work
      h2 work

      ul
        for project in work
          li
            a(
              href= project.url
              target= project.name
            )
              if project.img
                img(src= '/img/work/' + project.img)

            div
              if project.name
                h3= project.name

              if project.description
                for paragraph in project.description
                  p= paragraph

  if contact
    section#contact
      h2 contact

      p
        | If you have questions or suggestions just contact us via
        |  
        a(href=contact.email) email

      p
        | Found a bug on this homepage? File an issue on
        |  
        a(
          href='https://github.com/wizardsatwork/wizardsat.work/issues'
          target='github wizardsat.work'
        ) github.
